@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<style>
    p {
        font-size: 14pt;
    }
    li {
        font-size: 13pt;
    }
</style>
<div class="container">
    <div class="row">
        <img src="~/Content/GioiThieu/modau.jpg" height="456" width="716" style="margin-left: 170px; margin-top: 50px" />
    </div>
    <div class="blog-size">
        <!--Nên học ngành gì. Tư vấn.-->
        <h2 style="margin-top:15px">Nên Chọn Chuyên Ngành Gì Trong Công Nghệ Thông Tin ?</h2>

        <h5 class="text-justify"> &nbsp&nbsp &nbsp&nbsp Công nghệ thông tin là ngành đang nhận được sự quan tâm của nhiều bạn trẻ, đặc biệt là những bạn chuẩn bị bước vào đại học. Trong công nghệ thông tin có nhiều chuyên ngành khác nhau và mỗi ngành nghề có những khác biệt riêng.</h5>
        <p class="text-justify">Nên học ngành gì trong Công nghệ thông tin? Đây có lẽ là câu hỏi khiến nhiều bạn quan tâm đến CNTT thắc mắc. Trong bài viết này, mình sẽ chia sẻ đến bạn một số thông tin về thắc mắc này, cùng tham khảo nhé!</p>
        <p class="text-justify">
            Một số chuyên ngành có thể kể đến như: 
        </p>
        <ul>
            <li>Kỹ thuật phần mềm/Công nghệ phần mềm.</li>
            <li>Hệ thống thông tin</li>
            <li>Mạng máy tính.</li>
            <li>Khoa học & Phân tích dữ liệu.</li>
        </ul>
        <h3 class="text-justify">1.<span style="color: darkblue">Nên học chuyên ngành nào?</span></h3>
        <p class="text-justify">&nbsp&nbsp &nbsp&nbsp Bản thân mình đã trải qua giai đoạn này nên mình hiểu điều đó quan trọng như nào.</p>
        <p class="text-justify">Chủ yếu phụ thuộc vào khả năng của bản thân, định hướng và sở thích của mỗi người mà quyết định nên học chuyên ngành nào của Công nghệ thông tin cho phù hợp.</p>
        <p class="text-justify">Hãy dựa trên khả năng của bản thân mà đưa ra quyết định đúng đắn nhất.</p>
        <p>
            <img src="~/Content/GioiThieu/nenhoc.jpg" height="456" width="716" style="margin-left: 170px; margin-top: 10px" />
        </p>
        <!--CNPM-->
        <h3>2.<span style="color: darkblue">Công nghệ phần mềm</span></h3>
        <p class="text-justify">
            &nbsp&nbsp &nbsp&nbsp Với xu hướng phát triển mạnh mẽ của công nghệ cao thì cơ hội và nhu cầu việc làm của ngành 
        Kỹ thuật phần mềm là rất lớn nên luôn thu hút đông đảo các bạn trẻ và luôn là ngành thời thượng trong lĩnh vực Thông tin và Truyền thông.
        </p>
        <p>
            <img src="~/Content/GioiThieu/cnpm.png" height="456" width="716" style="margin-left: 170px; margin-top: 10px" />
        </p>
        <p class="text-justify">Chuyên ngành Kỹ thuật phần mềm (KTPM) này phù hợp cho những bạn nào thích lập trình thuần túy. Khi lập trình xong, thường ta sẽ tạo ra một sản phẩm gọi là “phần mềm”, “chương trình” hoặc “ứng dụng”.</p>
        <p class="text-justify">Nếu bạn thực sự quan tâm đến cách thực hành và muốn học chuyên sâu hơn về phần mềm thì đây sẽ là một ngành lý tưởng. Tuy nhiên, nếu bạn muốn có nền tảng chắc chắn hơn Khoa học Máy tính là ngành bạn nên cân nhắc.</p>
        <h3>3.<span style="color: darkblue">Hệ thống thông tin</span></h3>
        <p class="text-justify">Là ngành học trong đó có nhiều yếu tố có mối quan hệ với nhau, cùng thực hiện có nhiệm vụ theo quy trình bao gồm: thu thập, xử lí, lưu trữ và phân phối, thông tin. Sau đó tạo nên một cơ chế phản hồi đáp ứng mục tiêu đặt ra từ trước.</p>
        <p class="">
            <img src="~/Content/GioiThieu/httt.jpg" height="456" width="716" style="margin-left: 170px; margin-top: 10px" />
        </p>
        <p class="text-justify">Đây là sự kết hợp giữa phần cứng, phần mềm, mạng truyền thông. Sử dụng để làm nhiệm vụ thu thập, xử lý, lưu trữ, phân phối thông tin và các dữ liệu nhằm thực hiện mục tiêu ban đầu. Sinh viên sẽ được đào tạo để lĩnh hội tư duy về thuật toán, hệ thống, cũng như các kỹ năng thiết kế, tối ưu hóa cơ sở dữ liệu. Bên cạnh đó là vận hành, bảo trì, phát triển hệ thống thông tin.</p>
        <!--Mạng máy tính-->
        <h3>4.<span style="color: darkblue">Mạng máy tính.</span></h3>
        <p class="text-justify">&nbsp&nbsp &nbsp&nbsp Là ngành cung cấp những kiến thức tổng hợp liên quan đến mạng máy tính và truyền thông như: chuyển mạch và định tuyến, mạng LAN và WAN, các hệ điều hành, thiết kế hệ thống mạng.</p>
        <p class="text-justify">Ngành Mạng máy tính & Truyền thông dữ liệu là một ngành nghiên cứu những nguyên lý của mạng, cách thiết kế, xây dựng một hệ thống mạng từ mạng nội bộ cho đến mạng diện rộng có kết nối toàn cầu. Đồng thời ngành Mạng máy tính & Truyền thông dữ liệu cũng cung cấp cho người học những kỹ năng tiên tiến trong việc phát triển ứng dụng trên các hệ thống máy tính nối mạng từ trung đến cao cấp.</p>
        <p class="">
            <img src="~/Content/GioiThieu/mmt.jpg" height="456" width="716" style="margin-left: 170px; margin-top: 10px" />
        </p>
        <p class="text-justify">Ngành Mạng máy tính & Truyền thông dữ liệu là một ngành phù hợp cho những bạn ham thích khám phá công nghệ, giao tiếp với nhiều người trên khắp hành tinh mà chỉ cần thông qua chiếc máy tính có kết nối mạng. Đồng thời, với những hiểu biết về mạng máy tính, các bạn có thể xây dựng được cho mình một không gian chuyên môn của mình trên Internet.</p>
        <!--Khoa học và PTDL-->
        <h3>5.<span style="color: darkblue">Khoa học và Phân tích dữ liệu.</span></h3>
        <p class="text-justify"> &nbsp&nbsp &nbsp&nbsp Là ngành học nghiên cứu về các cơ sở lý thuyết và quá trình thực hiện, ứng dụng vào tính toán và thông tin trong hệ thống máy tính.</p>
        <p class="">
            <img src="~/Content/GioiThieu/khptdl.png" height="456" width="716" style="margin-left: 170px; margin-top: 10px" />
        </p>
        <p class="text-justify">Học ngành này chúng ta sẽ được trang bị các kiến thức nền tảng và chuyên sâu về Khoa học Máy tính như: cấu trúc máy tính, hệ điều hành, ngôn ngữ lập trình phần mềm và phần cứng, trí tuệ nhân tạo, bảo mật và an toàn máy tính, xử lý dữ liệu khối lượng lớn từ mạng internet và các mạng xã hội, thiết kế và phát triển các ứng dụng cho các thiết bị di động và môi trường web,…</p>
        <!--Nên chọn trường nào.-->
        <h3>6.<span style="color: darkblue; text-align: justify">Việc chọn trường đại học</span></h3>
        <p></p>
        <ul>
            <li style="text-align: justify">Đại học Bách khoa Hà Nội</li>
            <li style="text-align: justify">Đại học Công nghệ - Đại học Quốc gia Hà Nội</li>
            <li style="text-align: justify">Đại học Bách khoa TP.HCM</li>
            <li style="text-align: justify">Đại học Khoa học Tự nhiên</li>
            <li style="text-align: justify">Đại học Công nghệ Thông tin</li>
            <li style="text-align: justify">Đại học FPT</li>
            <li style="text-align: justify">Học viện Kỹ thuật Quân Sự</li>
            <li style="text-align: justify">Học viện Kỹ thuật Mật Mã</li>
            <li style="text-align: justify">Học viện Công nghệ Bưu chính Viễn Thông</li>
            <li style="text-align: justify">Đại học Sư phạm Kỹ thuật</li>
            <li style="text-align: justify">Đại học Công Nghiệp Thực Phẩm TP.HCM </li>
        </ul>
        <!--Tổng kết-->
        <h3>7.<span style="color: red">Tổng kết</span></h3>
        <p class="text-justify"> &nbsp&nbsp &nbsp&nbsp Ngoài những ngành mình giới thiệu ở trên còn có một số ngành như : Thương mại điện tử, Khoa học dữ liệu,....</p>
        <p class="text-justify">Công nghệ thông tin là một trong những ngành nghề có triển vọng trên thế giới và Việt Nam không nằm ngoài phạm vi đó. Để có thể trở thành người đón đầu công nghệ, góp phần xây dựng đất nước, các bạn cần trang bị cho mình những kiến thức cơ bản về chuyên ngành và niềm đam mê học hỏi. Mình mong với những thông tin trên, bạn có thể biết được nên học ngành nào trong Công nghệ thông tin để theo đuổi.</p>
        <p class="text-justify">Chúc bạn có thêm đam mê và nhiệt huyết với quyết định của mình.</p>
    </div>
</div>
